
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: .5em;
    margin: .5em;
}

/* @media */
@media print {
    * {
        background: none !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
 
        /* Images, vectors and such */
        filter: Gray();                          /* IE4-8: depreciated */
        filter: url('desaturate.svg#grayscale'); /* SVG version for IE10, Firefox, Safari 5 and Opera */
        -webkit-filter: grayscale(100%);         /* Chrome + Safari 6 */
        -moz-filter: grayscale(100%);            /* Future proof */
        -ms-filter: grayscale(100%);             /* Future proof */
        -o-filter: grayscale(100%);              /* Future proof */
        filter: grayscale(100%);                 /* Future proof or polyfilled */
    }
 
    a {
        text-decoration: underline;
    }
 
    a[href]:after {
        content: " (" attr(href) ")"; 
    }
 
    a[href="#"],
    a[href="javascript:"] {
        content: "";
    }
} 


/* UI */
html{
    font-family: 'Calibri', sans-serif;
}

/* helper */


.hidden{

display: none;

}

/* style */


/* header style */
header{

    color: #;
    position: relative;

    background: url(../pictures/backgrounds/headerMini.jpg) no-repeat center; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    -o-filter: hue-rotate(180deg);
    -ms-filter: hue-rotate(180deg);;
    -webkit-animation: huechange 30s alternate infinite, -webkit-filter 1s;
}
header div#gradient{

    position:  relative;

    height: 100%;

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

aside {
    position: absolute;

    width: 100%;
    height: 200px;
    margin: auto;

    

}
aside img{
    width: 50%;

    margin: auto;
    position: absolute;
    top:30px; left:0; right:0;
}


nav{

    width: 400px;
    height: 3%;
    margin: auto;
    position: absolute;

    top:0; left:0; right:0;
    padding:30px 70px;

    border-bottom: 2px solid white;
}
nav ul{
    max-width: 400px;
    margin: 0 auto;
}
nav li{
    
    display:inline-block;
    margin-right:20px;
    bottom: 0;
    transition: bottom .4s;
}
nav li a{
    position: relative;
    padding: 5px 15px;
}
nav li:hover{
    position: relative;
    bottom: -4px;
}

header section{

    height: 450px; width: 50%;
    min-width: 588px; max-width: 700px;

    margin: auto;
    overflow: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    color: #ccbea6;
    

    overflow: hidden;

    /*background: rgba(112,100,66,1); 

    background: rgba(255,255,255,0.1); 
    border-radius: 50px;
    /* border: 2px solid white; */
    /* box-shadow: 0 0 70px 2px rgba(0,0,0,0.6) inset; */

    transition: box-shadow .6s;
}
header section:hover{


    /* box-shadow: 0 0 20px 2px rgba(0,0,0,0.6) inset; */
}
header section h1{


    width:  100%;

    padding: 0;

    text-align: center;
    letter-spacing: 0.2em;
    font-size: 6em;
    font-style: normal;
    font-weight: 700;

    text-transform: uppercase;
    text-shadow: 2px 5px #143982;

    margin: 0px 10px;
    
}
header section h2{

    width:  100%;

    padding: 0 0 40px 0;

    text-align: center;
    justify-content: center;
    letter-spacing: 0.23em;
    word-spacing: 0.3em;
    font-size: 2.2em;
    font-style: normal;
    text-transform: none;
    text-shadow: 1px 2px 1px #143982;

    border-bottom: 2px solid #143982;

}


header section div.boutoncontainer{

    overflow: hidden;
    padding-bottom: 30px;
}
header section div.boutons{

    width: 90%;

    font-size: 1.8em;
    padding-top: 30px;

    margin: 0 5%;
    position: relative;
    bottom: 0;

    transition: bottom 1s;

}
header section div.movie,header section div.videogame,header section div.music{

    bottom: 400px;
    transition: bottom 1s;


}
header section div.boutons table{
    width: 100%;
    text-align: center;

}
header section button{

    height: 70px;


    color: #ccbea6;
    font-size: 0.7em;
    font-weight: 800;
    text-shadow: 1px 1px 2px #143982;

    border: 2px solid #143982;
    border-radius: 15px;
    padding: 5px 20px;
    margin: 10px auto;
    cursor: pointer;

    background: rgba(0,0,0,0.1);   
    box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;

    transition: box-shadow 1s, background .4s, color .4s, text-shadow .2s;         
}
header section button:hover{
    background: #143982; 
    box-shadow: 0 0 40px 2px rgba(0,0,0,0.6);
}
header section button:focus{

    outline: 0;
    color: #0a2356;
    background: #143982;    
    text-shadow: 0px 1px 1px rgba(204,190,166,0.6);
}
header section button.focused{
    outline: 0;
    color: #0a2356;
    background: #143982;    
    text-shadow: 0px 1px 1px rgba(204,190,166,0.6);
}

header #down{

   display: none;

    width: 70px;
    margin: auto;
    right: 0; left: 0; 
    bottom: 40px;
    position: absolute;
}
header #down a{
    margin: 0;
    padding: 0;

    font-size: 3em;
}



section#results{

    display: none;
}




@-webkit-keyframes huechange {
    0% {   -webkit-filter: hue-rotate(0deg);
    25% {   -webkit-filter: hue-rotate(0deg);  }
    30% {   -webkit-filter: hue-rotate(137deg);  }
    50% {   -webkit-filter: hue-rotate(137deg);  }    
    55% {   -webkit-filter: hue-rotate(180deg); }
    75% {   -webkit-filter: hue-rotate(180deg); }
    80% {   -webkit-filter: hue-rotate(-28deg); }
    95% {   -webkit-filter: hue-rotate(-28deg); }
    100% { -webkit-filter: hue-rotate(0deg);  } 
}
